<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TestMajster</title>
    <style>
        body { margin: 0; font-family: Arial, sans-serif; }
        .top-bar { background-color: #333; color: white; text-align: center; padding: 10px 0; }
        .sidebar { background-color: #f2f2f2; width: 200px; position: fixed; height: 100%; top: 0; left: 0; }
        .sidebar a { display: block; padding: 10px; text-decoration: none; color: black; }
        .sidebar a:hover { background-color: #ddd; }
        .content { margin-left: 200px; padding: 20px; }
        @media (max-width: 600px) {
            .sidebar { width: 100%; height: auto; position: relative; }
            .content { margin-left: 0; }
        }
    </style>
</head>
<body>
    <div class="top-bar">
        <h1>TestMajster</h1>
    </div>
    <div class="sidebar">
        <a href="{% url 'TestMaster:test-cases-list' %}">Test Cases</a>
        <a href="{% url 'TestMaster:new_test_case' %}">New Test Case</a>
        <!-- Add other links as needed -->
    </div>
    <div class="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
