<!-- TestMajster/TestMaster/templates/TestMaster/index.html -->

{% extends 'base.html' %}

{% block content %}
  <h2>Test Cases</h2>
  <ul>
    {% for test_case in test_cases %}
      <li>
        {{ test_case.id }} - {{ test_case.title }}
        <p>New test case has been added.</p>
      </li>
    {% empty %}
      <li>No test cases available.</li>
    {% endfor %}
  </ul>
{% endblock %}
