{% extends 'base.html' %}

{% block content %}
<h2>Create a New Test Case</h2>
<form method="post" id="test-case-form">
    {% csrf_token %}
    {{ form.as_p }}
    <table id="steps-table">
        <thead>
        <tr>
            <th>Step</th>
            <th>Description</th>
            <th>Result</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <!-- Step rows will be inserted here by JavaScript -->
        </tbody>
    </table>
    <button type="submit">Save Test Case</button>
</form>

<script>
    let stepCount = 0;

    function addStep(belowElement = null) {
        const tableBody = document.querySelector("#steps-table tbody");
        const rowIndex = belowElement ? Array.from(tableBody.children).indexOf(belowElement) + 1 : tableBody.children.length;
        const newRow = tableBody.insertRow(rowIndex);

        newRow.className = "step-row";
        newRow.setAttribute("data-step-index", rowIndex + 1);

        const cellStep = newRow.insertCell(0);
        cellStep.className = "step-num";
        cellStep.textContent = "Step " + (rowIndex + 1);

        const cellDesc = newRow.insertCell(1);
        const inputDesc = document.createElement("input");
        inputDesc.type = "text";
        inputDesc.name = "step_description_" + (rowIndex + 1);
        inputDesc.placeholder = "Description";
        cellDesc.appendChild(inputDesc);

        const cellResult = newRow.insertCell(2);
        const inputResult = document.createElement("input");
        inputResult.type = "text";
        inputResult.name = "step_result_" + (rowIndex + 1);
        inputResult.placeholder = "Result";
        cellResult.appendChild(inputResult);

        const cellActions = newRow.insertCell(3);
        const addButton = document.createElement("button");
        addButton.type = "button";
        addButton.textContent = "Add Step";
        addButton.onclick = function() { addStep(newRow); };
        cellActions.appendChild(addButton);

        const removeButton = document.createElement("button");
        removeButton.type = "button";
        removeButton.textContent = "Remove";
        removeButton.onclick = function() { removeStep(newRow); };
        cellActions.appendChild(removeButton);

        updateStepNumbers();
    }

    function removeStep(row) {
        const tableBody = document.querySelector("#steps-table tbody");
        tableBody.removeChild(row);
        updateStepNumbers();
    }

    function updateStepNumbers() {
        const allStepRows = document.querySelectorAll("#steps-table .step-row");
        allStepRows.forEach((row, index) => {
            const stepNumber = index + 1;
            row.setAttribute("data-step-index", stepNumber);
            row.querySelector(".step-num").textContent = "Step " + stepNumber;
            row.querySelector("input[name^='step_description_']").name = "step_description_" + stepNumber;
            row.querySelector("input[name^='step_result_']").name = "step_result_" + stepNumber;
        });
        stepCount = allStepRows.length;
    }

    // Initially add the first step on page load
    document.addEventListener('DOMContentLoaded', function() {
    addStep(); // This will add the first step row
});
</script>
{% endblock %}