<!-- path/filename: testmaster/templates/testmaster/test_case_detail.html -->
{% extends 'base.html' %}

{% block content %}
<h2>Test Case Details</h2>
<!-- ... display other test case details ... -->

<h3>Steps:</h3>
<ol>
    {% for step in test_case.steps.all %}
    <li>
        <strong>Description:</strong> {{ step.description }}
        <strong>Result:</strong> {{ step.result }}
        <h1>dupa</h1>
    </li>
    {% empty %}
    <li>No steps added.</li>
    {% endfor %}
</ol>

<!-- ... rest of your template ... -->
{% endblock %}
