{% extends 'base.html' %}

{% block content %}
<h2>Test Cases List</h2>
<table>
    <thead>
        <tr>
            <th><strong>ID</strong></th>
            <th>Title</th>
            <th>Status</th>
            <!-- Add more headers if needed -->
        </tr>
    </thead>
    <tbody>
        {% for test_case in test_cases %}
        <tr>
            <td>{{ test_case.id }}</td>
            <td><a href="{% url 'TestMaster:test-case-edit' test_case.id %}">{{ test_case.title }}</a></td>
            <td>{{ test_case.status }}</td>
        </tr>
        {% endfor %}

    </tbody>
</table>
{% endblock %}
