<!-- test_case_edit.html -->
{% extends 'base.html' %}

{% block content %}
  <h2>Edit Test Case</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Save changes</button>
  </form>
{% endblock %}
